.calculadora{
    height: 90vh;
    width: 60%;
    background: transparent;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    font-family: 'Press Start 2P', cursive;
}
.box{
    background: #1E90FF;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.box:first-child{
    grid-column: 1 / 5;
    background: grey;
    padding: 10px;
    border-radius: 5px;
}
.screen{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    outline: none;
    font-size: 32px;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
}
.box.operacion{
    background: #00BFFE;
}